{% extends 'layout.html' %}

{% block body %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <p>{{ messages }}</p>
    {% endfor %}
  {% endif %}
{% endwith %}
<form action="/add_product" method="POST">
  <input type="number" name="codigo_barras" placeholder="Codigo de barras">
  <input type="text" name="nombre" placeholder="Nombre del producto">
  <textarea cols="30" rows="10" name="especificaciones" placeholder="Especificaciones"></textarea>
  <input type="text" name="marca" placeholder="Marca">
  <input type="number" name="precio" placeholder="Precio">
  <select name="proveedor">
    <option disabled selected>Seleccione proveedor</option>
  {% for proveedor in proveedores %}
    <option value="{{proveedor.0}}">{{proveedor.2}}</option>
  {% endfor %}    
  </select>
  <button type="submit">Guardar</button>
</form>

<table border="1">
  <thead>
    <tr>
      <td>id</td>
      <td>Codigo de barras</td>
      <td>Nombre</td>
      <td>Especificaciones</td>
      <td>Marca</td>
      <td>Precio</td>
      <td>Fecha inventario</td>
      <td>Nit empresa Proveedor</td>
      <td>Proveedor</td>
      <td>Empresa Proveedor</td>
      <td>Operaciones</td>
    </tr>
  </thead>
  <tbody>
    {% for producto in productos %}
      {% set key = false %}
    <tr>
      <td>{{ producto.0 }}</td>
      <td>{{ producto.1 }}</td>
      <td>{{ producto.2 }}</td>
      <td>{{ producto.3 }}</td>
      <td>{{ producto.4 }}</td>
      <td>{{ producto.5 }}</td>
      <td>{{ producto.6 }}</td>
    {% for proveedor in proveedores %}
      {% if producto.7 == proveedor.0 and key == false %} 
        {% set key = true %}
      <td>{{ proveedor.1 }}</td>
      <td>{{ proveedor.2 }}</td>
      <td>{{ proveedor.3 }}</td>
      {% endif %}
    {% endfor %}
      <td>
        <a href="/edit_product/{{producto.0}}">Editar</a>
        <a href="/delete_product/{{producto.0}}">Eliminar</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}